.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px; /* Adjust the width as needed */
    height: 80px; /* Adjust the height as needed */
    border: 2px solid #d4d3d3; /* Border color and thickness */
    border-radius: 50%; /* Makes it round */
    background-color: rgb(4, 4, 4);
  }
  
.techsection{
    height: 40vh;
}
.toptech{
    display: flex;
  justify-content: space-around;

}
.toptech .top{
    display: flex;
   justify-content: space-around;
}
.top .tech2{
    margin: 0px 70px;
}
.top .tech4{
    margin: 0px 70px;
}

.bottomtech{
    display: flex;
  justify-content: space-evenly;
  margin-top: 90px;

}