/* Global styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin: 0;
  overflow: hidden; /* Hide any overflowing animation */
}
.spex{
  margin-left: 36vh;
}

.tree-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  border-radius: 10px;
  padding: 20px 273px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background: linear-gradient(45deg, #ff6b6b, #ffa07a, #ffdb58, #7bed9f, #7accc8, #9178e6, #ff75e4);
  background-size: 200% 200%; /* Increase the size of the gradient */
  animation: animateBackground 10s linear infinite alternate;
}

@keyframes animateBackground {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 200%; /* Adjust to cover the entire container */
  }
}

.tree-node {
  display: flex;
  align-items: center;
  margin: 10px 0;
  position: relative;
  color: white;
  text-align: center;
}

.tree-node h1,
.tree-node h2 {
  margin: 0;
}

.tree-node .icon {
  font-size: 24px;
  margin-right: 10px;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
  .tree-card {
    padding: 20px 30px; /* Adjust padding for smaller screens */
  }

  .top-node {
    margin-bottom: 30px; /* Reduce spacing on mobile */
  }

  .middle-node {
    margin-bottom: 20px; /* Reduce spacing on mobile */
  }

  .bottom-node {
    margin-bottom: 10px; /* Reduce spacing on mobile */
  }
}
